#left_menu{
    background-color: blueviolet;
}

#left_menu{
    position: fixed;
    height: 88%;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    z-index: 10;
    left: -175px;  /*поменять на -20 после клика*/
    top: 89px;
    font-family: "MyriadProRegular";
}

#arrow_button{
    height: 100%;
    width: 20px;
    float: right;
    margin-right: 3px;
}

#arrow_button_back{
    height: 100%;
    width: 20px;
    float: right;
    margin-right: 3px;
    background-image: url("../img/left_menu_arrow_back.svg");
    right: 200px;
}

#arrow_button:hover{
    background-image: url("../img/left_menu_arrow_hover.svg");
}

#arrow_button_back:hover{
    background-image: url("../img/left_menu_arrow_hover_back.svg");
}

#left_menu {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#arrow_button{
    background-image: url("../img/left_menu_arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}


#arrow_button_back{
    background-image: url("../img/left_menu_arrow_back.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

#left_menu ul{
    list-style-type: none;
}

#left_menu li{
    margin: 10px;
    color: whitesmoke;
}

